# Assignment 2: Card Draw

![Assignment 2 Image of Five Playing Cards](img/Card_Draw.png)

Author: Irene Kilgannon

Write a program that 'deals' i.e. prints out 5 cards from this API, https://deckofcardsapi.com/.

First shuffle the deck and get the deck_id. With the deck_id, get the cards. Print the value and suit of each card.

Extra marks: If the user has drawn a pair, triple, straight, or all of the same suit and congratulate the user.

In [ ]:
# Import modules
import requests
import json
import pandas as pd
from emoji import emojize

## Shuffle The 'Cards'

In [181]:
shuffle_cards_url = "https://deckofcardsapi.com/api/deck/new/shuffle/?deck_count=1"

# Get data from the API
response = requests.get(shuffle_cards_url)

# Convert JSON response to Python dictionary
response_dict = response.json()

# View keys in response_dict
#for key in response_dict:
#    print(key, ":", response_dict[key])

print('Deck ID:', response_dict['deck_id'])

Deck ID: l6ywi8kdont5

In [182]:
# Create a variable of the deck_id
deck_id =  response_dict['deck_id']

## Deal Five Cards

In [183]:
deal_cards_url = f"https://deckofcardsapi.com/api/deck/{deck_id}/draw/?count=5"

# Get data from the API
response2 = requests.get(deal_cards_url)

# Convert JSON response to Python dictionary
deal_cards = response2.json()

add_card = []

for card in deal_cards['cards']:
    add_card.append(card['value'])
    print(f"{card['value']} of {card['suit']}")

5 of DIAMONDS
10 of CLUBS
7 of DIAMONDS
7 of SPADES
6 of CLUBS

In [184]:
add_card

['5', '10', '7', '7', '6']

In [185]:
# Write data to a JSON file
with open ("data/deal_cards.json", "w") as fp:
    json.dump(deal_cards, fp)

## Extra Marks

Extra marks: If the user has drawn a pair, triple, straight, or all of the same suit and congratulate the user.

Pair or triple - two or three cards of same value.

Straight - five cards of sequential rank, not all the same suit.

Suit - all cards in came suit.

In [186]:
# Convert to a DataFrame
df = pd.DataFrame(deal_cards['cards'], columns= ['value', 'suit'])
df

  value      suit
0     5  DIAMONDS
1    10     CLUBS
2     7  DIAMONDS
3     7    SPADES
4     6     CLUBS

In [187]:
print(f'There are {df['value'].duplicated().sum()} duplicated rows in the value column.')

There are 1 duplicated rows in the value column.

In [188]:
# View the duplicated rows.
df2 = df[df['value'].duplicated(keep = False)]
df2

  value      suit
2     7  DIAMONDS
3     7    SPADES

In [189]:
# Checking for pairs or triples.
if df['value'].duplicated().sum() == 1:
    print(f"{emojize(":partying_face:")} Congratulations!!! You have a pair of {df2.iloc[0, 0]}'s.")
elif df['value'].duplicated().sum() == 2:
    if len(df2) == 2:
        print(f"{emojize(":party_popper:")} Congratulations!!! You have a triple of {df2.iloc[0, 0]}'s.")
    else:
        print(f"{emojize(":party_popper:")} WOW! Congratulations!! You have a two pairs {df2.iloc[0, 0]} and {df2.iloc[0, 2]}.")
else:
    print(f'{emojize(":disappointed_face:")} Unlucky, no pairs or triples. Better luck next time.')

ðŸ¥³ Congratulations!!! You have a pair of 7's.

In [190]:
if df['suit'].duplicated().sum() == 4:
    print(f'{emojize(":fireworks:")} All cards have the same suit. Congratulations! {emojize(":fireworks:")}')

In [191]:
# For straight need list of card values
card_values = ['ACE', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'JACK', 'QUEEN', 'KING']

#for card in card_values:
    #print(card)

In [192]:
# Sort value column in a specific order, https://stackoverflow.com/questions/52784410/sort-column-in-pandas-dataframe-by-specific-order
df.value = pd.Categorical(df.value, categories= card_values)

df = df.sort_values(by ='value')
df

  value      suit
0     5  DIAMONDS
4     6     CLUBS
2     7  DIAMONDS
3     7    SPADES
1    10     CLUBS


Figure out how do I match a straight.

## References

[Geeksforgeeks.org, response.json() - Python requests](https://www.geeksforgeeks.org/response-json-python-requests/)

[W3 schools.com, Python Requests Module](https://www.w3schools.com/python/module_requests.asp)

[Realpython.com, Python's Requests Library (Guide)](https://realpython.com/python-requests/)

[Stackoverflow.com, How to access a dictionary key value present inside a list](https://stackoverflow.com/questions/6521892/how-to-access-a-dictionary-key-value-present-inside-a-list)

[Geeksforgeeks.org, Accessing nested dictionaries in a list](https://www.geeksforgeeks.org/accessing-value-inside-python-nested-dictionaries/) 

[Datacamp.com, importing json data and working with APIs](https://campus.datacamp.com/courses/streamlined-data-ingestion-with-pandas/importing-json-data-and-working-with-apis?ex=4)